<!DOCTYPE HTML>
<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method = "post">
        <div>Input sale of products</div>
        <input type = "text" name = "date_purchase" placeholder = "input date purchase" />
        <input type = "text" name = "total_cost" placeholder = "input total cost" />
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type = "submit">Add</button>
    </form>
</div>
<div>Sale Of Products</div>
    <table style="border: 1px solid black">
        <tr style="border: 1px solid black">
            <th style="border: 1px solid black">id customer</th>
            <th style="border: 1px solid black">date purchase</th>
            <th style="border: 1px solid black">total cost</th>
            <th style="border: 1px solid black">id product</th>
            <th style="border: 1px solid black">id employee</th>
        </tr>
        {{#saleOfProducts}}
        <tr style="border: 1px solid black">
            <td style="border: 1px solid black">{{id_customer}}</td>
            <td style="border: 1px solid black">{{date_purchase}}</td>
            <td style="border: 1px solid black">{{total_cost}}</td>
            <td style="border: 1px solid black">{{id_product}}</td>
            <td style="border: 1px solid black">{{id_employee}}</td>
        </tr>
        {{/saleOfProducts}}
    </table>
</body>
<a href = "/baseSaloon">Saloon</a>
<a href = "/baseProduct">Product</a>
<a href = "/baseRecord">Record</a>
<a href = "/baseSaleOfProduct">SaleOfProduct</a>
<a href = "/baseProvider">Provider</a>
<a href = "/main">Customer</a>
<a href = "/baseService">Service</a>
</html>